<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Partial/HeadPartial/MetatagsPartial")
    @await Html.PartialAsync("Partial/HeadPartial/CssPartial")
</head>

<body>

    <div class="container-fluid" style="background:linear-gradient(to right,#ffffff,#A9A9A9,#ffffff)">
        <header>
            @await Html.PartialAsync("Partial/BodyPartial/HeaderPartial")
        </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background:linear-gradient(to right,#A9A9A9,#ffffff,#A9A9A9)">
        @await Html.PartialAsync("Partial/BodyPartial/FooterPartial")
    </footer>
    @await Html.PartialAsync("Partial/BodyPartial/ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
