@model Movie

@{
    string currentModel = Helper.GetTypeName(Model.GetType().ToString());
    ViewData["Title"] = @currentModel + " Create";
}

<h1>@currentModel Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<form asp-action="Delete">
    <div class="col-4">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" readonly></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="YearShown" class="control-label"></label>
            <input asp-for="YearShown" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="FilmDuration" class="control-label"></label>
            <input asp-for="FilmDuration" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="AcceptableAge" class="control-label"></label>
            <input asp-for="AcceptableAge" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="IsReaded" class="control-label"></label>
            <input asp-for="IsReaded" type="checkbox" class="form-check-input" readonly />
        </div>
        <div class="form-group">
            <label asp-for="PartFilm" class="control-label"></label>
            <input asp-for="PartFilm" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="CountryId" class="control-label"></label>
            <input asp-for="Country!.Name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="ProducerId" class="control-label"></label>
            <input asp-for="CurrentProducer!.LastName" class="form-control" readonly />
        </div>     
        <div class="btn-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Index" asp-route-currentPage="@TempData["CurrentPage"]" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-searchText="@TempData.Peek("SearchText")">Back</a>
        </div>
    </div>
</form>

<div class="p-3"></div>
<div>
    @if (Model.Genres.Any())
    {
        <div>
            Жанры:
        </div>
        foreach (var item in Model.Genres)
        {
            <span class="badge bg-light text-black" style="font-size:15px;">@item.Name</span>
        }
    }
</div>